<!-- Home section -->
<section class="hero flex items-center justify-center">
  <div>
    <div class="mx-auto part1">
      <h5 class="text-2xl ml-4 mb-2">
        <em>Are you Hungry?</em>
      </h5>
      <h1 class="text-6xl font-bold">Come on... Don't Wait!!</h1>
    </div>

    <button class="myBtn mt-6 py-2 px-6 rounded-full font-bold text-white">
      Order Now
    </button>
  </div>
</section>

<!-- Menu Section -->
<section class="menu container mx-auto py-8 px-4">
  <h1 class="text-2xl font-bold part1">All Menus</h1>
  <div class="wrapper mt-6 p-2 grid grid-cols-4 gap-x-8 gap-y-10">
    <!-- 1 item info -->
    <% allMenus.forEach(function(menu){ %>

    <div class="w-64">
      <img
        class="myImg h-40 mb-4 mx-auto"
        src="/img/<%= menu.image %>"
        alt="pizza"
      />
      <div class="text-center">
        <h2 class="mb-4 text-lg"><%= menu.name %>a</h2>
        <span class="size py-1 rounded-full uppercase text-xs"
          ><%= menu.size %>
          <div class="flex items-center justify-around mt-6">
            <span class="font-bold text-lg">₹ <%= menu.price %></span>
            <button
              class="add-to-cart py-1.5 px-6 rounded-full flex items-center font-bold"
            >
              <span>+</span>
              <span class="ml-4">Add</span>
            </button>
          </div>
        </span>
      </div>
    </div>
    <% }) %>
  </div>
</section>

<!-- Reviews and Comments with parallax-->
<section class="testimonials container mx-auto py-8 px-4">
  <div>
    <h5 class="text-3xl font-bold uppercase common-heading part1">
      Happy Client Works..
    </h5>
  </div>
  <div class="swiper mySwiper mt-12 container mx-auto py-8 px-4">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-client-msg">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat,
            totam?
          </p>
        </div>
        <div class="swiper-client-data grid grid-cols-2">
          <figure>
            <img src="/img/avatar.png" alt="review-2" srcset="" />
          </figure>
          <div class="client-data-details">
            <p>Customer-1</p>
            <p>B.Tech-Cse</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-client-msg">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat,
            totam?
          </p>
        </div>
        <div class="swiper-client-data grid grid-cols-2">
          <figure>
            <img src="/img/avatar.png" alt="review-2" srcset="" />
          </figure>
          <div class="client-data-details">
            <p>Customer-2</p>
            <p>Faculty</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-client-msg">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat,
            totam?
          </p>
        </div>
        <div class="swiper-client-data grid grid-cols-2">
          <figure>
            <img src="/img/avatar.png" alt="review-2" srcset="" />
          </figure>
          <div class="client-data-details">
            <p>Customer-3</p>
            <p>B.Tech-Civil</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-client-msg">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat,
            totam?
          </p>
        </div>
        <div class="swiper-client-data grid grid-cols-2">
          <figure>
            <img src="/img/avatar.png" alt="review-2" srcset="" />
          </figure>
          <div class="client-data-details">
            <p>Customer-4</p>
            <p>B.Tech-Cse</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
