* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merienda", cursive;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #009b72;
}
nav li:last-child a:hover {
  opacity: 1;
  background: #007556;
}

nav li a {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  opacity: 1;
  color: #046865;
  border-bottom: 2px solid #046865;
}

.myImg {
  border-radius: 50%;
}

.part1 {
  text-shadow: 2px 1px 3px #046865;
}

.part2 {
  text-align: -webkit-center;
}

section.hero {
  background-image: url("/img/bgHome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.myBtn {
  border: 1px solid #046865;
  background: #009b72;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.myBtn:hover {
  background: #007556;
  border-color: #fff;
}

.size {
  background: #f8f8f8;
}

.add-to-cart {
  border: 1px solid #046865;
  background: #009b72;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #007556;
  border-color: #fff;
}
