<section class="orders light-section">
  <div class="container mx-auto pt-10 pb-20 px-4">
    <h1 class="font-bold text-lg m-8 part1">All Orders</h1>

    <!-- ORDER Table  -->
    <table class="w-full table-auto bg-white">
      <thead>
        <tr>
          <th class="px-6 p-2 text-left part1">Orders</th>
          <th class="px-6 p-2 text-left part1">Customer</th>
          <th class="px-6 p-2 text-left part1">Address</th>
          <th class="px-6 p-2 text-left part1">Status</th>
          <th class="px-6 p-2 text-left part1">Placed At</th>
        </tr>
      </thead>
      <tbody id="orderTableBody"></tbody>
    </table>
  </div>
</section>
