//Colors:
//linear-gradient(to right,#009b72,#046865)
$backgound-color: #046865;
$btn-color: #009b72;
$btn-hover: #007556;
$primary: #009b72;
$primary-hover: #007556;
$secondary: #f8f8f8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$shadow: 0px 0px 6px 0px $backgound-color;

//Transitions:

$smooth: all 0.3s ease-in-out;
