@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merienda", cursive;
  -webkit-font-smoothing: antialiased;
  color: $dark;
}

// Navbar

nav li:last-child a {
  background: $btn-color;
  &:hover {
    opacity: 1;

    background: $btn-hover;
  }
}

nav li a {
  opacity: 0.8;
  transition: $smooth;

  &:hover {
    opacity: 1;
    color: $backgound-color;
    border-bottom: 2px solid $backgound-color;
  }
}

// Home Section
.myImg {
  border-radius: 50%;
}
.part1 {
  text-shadow: 2px 1px 3px $backgound-color;
}
.part2 {
  // background-color: red;
  text-align: -webkit-center;
}

section.hero {
  // background: $secondary;
  background-image: url("/img/bgHome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.myBtn {
  border: 1px solid $backgound-color;
  background: $btn-color;
  transition: $smooth;
  &:hover {
    background: $btn-hover;
    border-color: $pure;
  }
}
// Menus

.size {
  background: $secondary;
}

.add-to-cart {
  border: 1px solid $backgound-color;
  background: $btn-color;
  color: $pure;
  transition: $smooth;
  &:hover {
    background: $btn-hover;
    border-color: $pure;
  }
}

// Testimonial Swipper js

.common-heading {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: $backgound-color;
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 118%;
    left: 1.5rem;
    min-width: 20rem;
    height: 0.3rem;
    background: $backgound-color;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-client-msg {
  padding: 5rem 8rem;
  background: $pure;
  border-radius: 1rem;
  text-align: left;
  box-shadow: $shadow;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
    border: 3rem solid $pure;
    border-color: transparent;
    border-top-color: $btn-color;
  }
}

.swiper-client-msg p {
  &::before {
    content: "\f10d";
    position: absolute;
    top: 0;
    left: 2rem;
    font-size: 5rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #ced3ff;
  }
  &::after {
    content: "\f10e";
    position: absolute;
    bottom: 0;
    right: 3rem;
    font-size: 5rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #ced3ff;
  }
}

.swiper-client-data {
  align-items: center;
  margin-top: 3.2rem;
  gap: 3.2rem;
}

.swiper-slide img {
  max-width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1px solid $backgound-color;
}

// Footer
.footer-basic {
  background-color: $backgound-color;
  color: $pure;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid $pure;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
  &:hover {
    border: 2px solid $backgound-color;
    background: $pure;
    color: $backgound-color;
    opacity: 0.9;
  }
}

// Cart Style
section.cart {
  background: $secondary;
  button {
    border: 1px solid $backgound-color;
    background: $btn-color;
    transition: $smooth;
    &:hover {
      background: $btn-hover;
      border-color: $pure;
    }
  }
}
